<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>LiveCode Dictionary</title>
    
    <link href="[[tDocsCSSFolder]]/bootstrap.min.css" rel="stylesheet">
    <link href="[[tDocsCSSFolder]]/lcdoc.css" rel="stylesheet">
    <link href="[[tDocsCSSFolder]]/codestyle.css" rel="stylesheet">
</head>
<body>

<div class="container bs-docs-container" >
<div style="height:25px; z-index:200; background-color:#ffffff"></div>

	<div class="row">
		<div class="col-md-3">
			<div class="affix bs-sidebar" id="lcdoc_sidebar">
			    <div class="panel panel-default">
					<div class="panel-heading">
						<div class="btn-group" style="width:100%" id="lcdoc_library_chooser">
							<div class="dropdown">
				  				<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
									<span id="lcdoc_library_chooser_text"></span>
									<span class="caret"></span>
				  				</button>
				  				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="lcdoc_library_chooser_list">
								</ul>
							</div>
						</div>					
					</div>
				</div>
            	<div class="panel panel-default" id="filters_panel">
					<div class="panel-heading">Filters</div>
					<div class="panel-body" id="filters_container">
						<div id="filters">none</div>
						<div id="filters_options"></div>
		  			</div>
				</div>
			</div>
    	</div>
 
        <div class="col-md-9">
        	<div id="header_panel_holder" class="affix_right">
				<div class="panel panel-default affix_right" id="lcdoc_list">
				  <div class="panel-heading " >
					  <div class="row">
						<div class="col-md-3">
							<nav>
							  <ul class="pagination pagination-sm" id="breadcrumb">
							  	<li id="lcdoc_history_back">
							  		<a href="#">
							  			<span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
							  			<span class="sr-only">Previous</span>
							  		</a>
							  	</li>
							  	<li id="lcdoc_history_forward">
							  		<a href="#">
							  			<span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
							  			<span class="sr-only">Next</span>
							  		</a>
							  	</li>
							  	<li id="lcdoc_history" class="dropdown">
							  		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							  			<span class="glyphicon glyphicon-time" id="dropdownMenu2" aria-expanded="true"></span>
							  		</a>
							  		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" id="lcdoc_history_list">
									</ul>
								</li>
							</ul>
							<nav>
						</div>
						
					  	<div class="col-md-6">
						</div>

						<div class="col-md-3">
							<div class="input-group" id="filter_box">
								<input id="ui_filer" type="text" class="form-control input-sm">
								<span class="input-group-btn">
									<button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div><!-- /input-group -->
					  </div>
					</div>
					<div id="table_header">
						<table class="table table-hover table-condensed" id="table_list_header">
						</table>
					</div>
			  		<div id="table_container">
						<table class="table table-hover table-condensed" id="table_list">
						</table>
					</div>
					<!-- header panel resizer -->
					<div id="resizer" class="affix_right">
					</div>   
				</div>            
            </div><!-- /Affix -->

            <div class="panel panel-default" id="lcdoc_body">
              <div class="panel-body" id="api_entry">
              </div>
              
            </div>
        </div>
   </div>
</div>
   
    <script src="[[tDocsJSFolder]]/jquery-1.11.1.min.js"></script>
    <script src="[[tDocsJSFolder]]/jquery.session.js"></script>
    <script src="[[tDocsJSFolder]]/bootstrap.min.js"></script>
    <script src="[[tDocsJSFolder]]/marked.js"></script>
    <script src="[[tDocsJSFolder]]/highlight.pack.js"></script>	
    <script src="[[tDocsJSFolder]]/jquery.mousewheel.min.js"></script>	
    
    <script charset="UTF-8" src="[[tDataPath]]"></script>  
    <script src="[[tDocsJSFolder]]/dictionary_functions.js"></script>	
    <script>
	
    $(document).ready(function(e)
	{
      setEdition('[[ the editionType]]');
		setActions();		
		dataFilter();		
		displayLibraryChooser();
		
		goEntryName('[[tLibraryName]]', '[[tEntryName]]', '[[tEntryType]]');
    document.getElementById("ui_filer").focus();
	});
	</script>
</body>
</html>