<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>LiveCode Guides</title>
    
    <link href="[[tDocsCSSFolder]]/bootstrap.min.css" rel="stylesheet">
    <link href="[[tDocsCSSFolder]]/userguide.css" rel="stylesheet">
    <link href="[[tDocsCSSFolder]]/codestyle.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".lc_docs_nav">


<div class="container bs-docs-container">

<div class="row">
<div class="col-md-3" >
    	<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" data-offset-top="200" id="lc_userguide_nav" role="complementary">
           <div id="nav_holder">
           
           
           </div>
        </div>
    </div>
	<div class="col-md-9" role="main">
    	<div style="position:relative" id="documentation" style="position:relative">
    		<div id="lcdoc_guide_landing" style="display:none">
    			<h1>LiveCode Guides</h1>
    			<ul id="lcdoc_landing_list"></ul>
    		</div>
        </div>
    </div>
	
</div>
</div>
    
    <script src="[[tDocsJSFolder]]/jquery-1.11.1.min.js"></script>
    <script src="[[tDocsJSFolder]]/bootstrap.min.js"></script>
    <script src="[[tDocsJSFolder]]/marked.js"></script>
    <script src="[[tDocsJSFolder]]/highlight.pack.js"></script> 
    <script src="[[tDocsJSFolder]]/jquery.mousewheel.min.js"></script>	
    	    
    <script charset="UTF-8" src="[[tDataPath]]"></script>    
    <script src="[[tDocsJSFolder]]/guide_functions.js"></script>
    <script>	
	
   $(document).ready(function(e) {
   		var tRepoGuidesFolder, tIDEGuidesFolder;
		tRepoGuidesFolder = "[[tRepoGuidesFolder]]";
		tIDEGuidesFolder = "[[tIDEGuidesFolder]]";
	   
   		initializeGuides(tRepoGuidesFolder, tIDEGuidesFolder);
   });
    </script>
</body>
</html>